html {

  height: 100%;

}

body {
  margin: 0;
  background: rgb(242, 242, 242);
  background: radial-gradient(circle, rgba(242, 242, 242, 1) 0%, rgba(122, 182, 209, 1) 100%);
  height: 100%;
}

#root {
  height: 100%;
}

.page {
  padding-top: 100px;
  display: flex;
  flex-direction: column;
  height: 100%;
}
